@import "../common/mixins";
@import "../common/variables";

body {
  @include body-font;
  margin: 0;
  box-sizing: border-box;
}

.wrap {
  min-height: calc(100vh - 89px);
}

// #light  {
//   background: $white;
// }

#dark  {
  background: $black;
  color: $secondary;
}
