// Breakpoints...
$break-s: 375px;
$break-l: 1440px;

// Colors Palette...
// Light Mode Text
$primary: hsl(200, 15%, 8%);
// Dark Mode Text & Light Mode Elements
$secondary: hsl(0, 0%, 100%);
// Dark Mode Elements
$tertiary: hsl(209, 23%, 22%);
// Light Mode Input
$quaternary: hsl(0, 0%, 52%);
// Light Mode Background
$white: hsl(0, 0%, 98%);
// Dark Mode Background
$black: hsl(207, 26%, 17%);

//Box shadow Dark
$box-shadow-dark: 0px 0.8rem 0.7rem 0px rgba(0, 0, 0, 0.1);
//Box shadow Light
$box-shadow-light: 0 0.125rem 0.25rem rgba(32, 44, 55, 0.075);

// Fonts
$font-body: 'Nunito Sans', sans-serif;
